.BgImage{
  background-image: url(./Assets/clouds.jpeg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vw;
}

.ButtonFormat{
  border-radius: 15px;
  padding: 10px;
  color: blue;
  text-align: center;
  font-weight: Bold;
  font-size: 15px;
}

.ButtonFormat1{
  border-radius: 15px;
  padding: 10px;
  background-color: blue;
  color: white;
  text-align: center;
  font-weight: Bold;
  font-size: 15px;
}

.HeaderFormat{
  color: Blue;
  font-size: 55px;
  font-weight: bold;
}

li{
  list-style: none;
}

.dark-bg {
  background-color: #333; /* Replace with your desired dark color */
  padding: 5px; /* Add some padding to make the background visible */
}

.cardradius{
  border-radius: 35px;
}

.textbold{
  font-weight: bold;
}